.visuallyhidden {
    display: none;
}

.message.klevu-quick-links {
    margin-top: 24px;
    margin-bottom: 16px;
}
.klevu-quick-links ul {
    margin-bottom: 0;
}
.klevu-quick-links ul li{
    display:inline-table;
    padding-left:5px;
    padding-right:5px;
    border-right:1px solid #ccc;
}

.klevu-quick-links ul li:last-child{
    padding-right: 0px;
}

.klevu-quick-links ul li:first-child, .klevu-quick-links ul li:last-child{
    border-right:none;
}

.klevu-logo {
    padding: 16px 0;
}

.klevu-versions {
    max-width: 380px;
    padding: 16px 0;
}

.klevu-versions > div:nth-child(2n-1) {
    display: inline-block;
    width: 75%;
    padding: 4px 0;
}

.klevu-versions > div:nth-child(2n) {
    display: inline-block;
    width: 24%;
    padding: 4px 0;
}

.klevu-integration-buttons button {
    margin-right: 8px;
    margin-bottom: 8px;
}

.klevu-store-not-integrated {
    background: #fffbbb;
    font-style: italic;
}

.accordion .form-inline .config .klevu-js-api-keys th, .accordion .form-inline .config .klevu-js-api-keys td {
    padding: 1.1rem 0.75rem;
}

.klevu-next-step-guides div:nth-child(1) {
    padding-top: 16px;
}

.klevu-next-step-guides ul {
    padding: 8px;
    list-style-position: outside;
    margin-left: 1em;
}

.klevu-prerequisites ol {
    padding: 8px;
    list-style-position: outside;
    margin-left: 1em;
}

.klevu-how-to-integrate .title {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .025em;
    padding: 1.9rem 2.8rem 1.9rem 0;
}

.klevu-how-to-integrate ul {
    padding: 0 8px 8px;
    list-style-position: outside;
    margin-left: 1em;
}

.klevu-how-to-integrate ul li {
    padding: 4px 0;
}

.klevu-text-secondary {
    color: grey;
}
