<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Klevu\Search\Api\SerializerInterface" type="Klevu\Search\Serializer\Json"/>
	<preference for="Magento\Config\Block\System\Config\Form\Field" type="Klevu\Search\Block\Adminhtml\System\Config\Form\Field"/>

	<!--<preference for="Magento\Framework\Search\Adapter\Mysql\ScoreBuilder" type="Klevu\Search\Adapter\Mysql\ScoreBuilder"/>
    <preference for="Magento\CatalogSearch\Model\Search\TableMapper" type="Klevu\Search\Model\Search\TableMapper"/>-->

	<preference for="Klevu\Search\Api\Provider\CommonProviderInterface" type="Klevu\Search\Model\Product\Provider\CommonProvider"/>

	<preference for="Klevu\Search\Model\Klevu\Cron\SchedulerInterface" type="Klevu\Search\Model\Klevu\Cron\Scheduler" />
	<preference for="Klevu\Search\Model\Klevu\Category\CategoryInterface" type="Klevu\Search\Model\Klevu\Category\Category" />
	<preference for="Klevu\Search\Model\Api\Magento\Request\ProductInterface" type="Klevu\Search\Model\Api\Magento\Request\Product" />
	<preference for="Klevu\Search\Model\Product\MagentoProductActionsInterface" type="Klevu\Search\Model\Product\MagentoProductActions"/>
	<preference for="Klevu\Search\Model\Product\LoadAttributeInterface" type="Klevu\Search\Model\Product\LoadAttribute"/>
	<preference for="Klevu\Search\Model\Product\KlevuProductActionsInterface" type="Klevu\Search\Model\Product\KlevuProductActions"/>
	<preference for="Klevu\Search\Model\Product\ProductInterface" type="Klevu\Search\Model\Product\Product"/>
	<preference for="Klevu\Search\Model\Category\MagentoCategoryActionsInterface" type="Klevu\Search\Model\Category\MagentoCategoryActions"/>
	<preference for="Klevu\Search\Model\Category\LoadAttributeInterface" type="Klevu\Search\Model\Category\LoadAttribute"/>
	<preference for="Klevu\Search\Model\Category\KlevuCategoryActionsInterface" type="Klevu\Search\Model\Category\KlevuCategoryActions"/>
	<preference for="Klevu\Search\Model\Product\ProductParentInterface" type="Klevu\Search\Model\Product\ProductParent"/>
	<preference for="Klevu\Search\Model\Product\ProductIndividualInterface" type="Klevu\Search\Model\Product\ProductIndividual"/>
	<preference for="Klevu\Search\Model\Product\ProductCommonUpdaterInterface" type="Klevu\Search\Model\Product\ProductCommonUpdater"/>
	<type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
		<plugin name="klevu_search_toolbar" type="Klevu\Search\Plugin\Catalog\Block\Toolbar" sortOrder="101"/>
	</type>
	<type name="Magento\CatalogSearch\Block\Result">
		<plugin name="Klevu_Search::setpersonalization" type="Klevu\Search\Plugin\Search\Block\Result" sortOrder="101"/>
	</type>
	<type name="Magento\Elasticsearch\SearchAdapter\DocumentFactory">
		<plugin name="Klevu_Search_Plugin_Elasticsearch_SearchAdapter" type="Klevu\Search\Plugin\Elasticsearch\SearchAdapter\DocumentFactory" sortOrder="101"/>
	</type>
	<type name="Magento\Framework\Api\Search\SearchResult">
		<plugin name="Klevu_Search_Plugin_Api_Search_SearchResult" type="Klevu\Search\Plugin\Api\Search\SearchResult" sortOrder="101"/>
	</type>
	<type name="Magento\Cron\Model\ConfigInterface">
		<plugin name="Klevu_Search_SetCustomCronFrequencyPlugin" type="Klevu\Search\Plugin\Cron\Model\Config\SetCustomCronFrequencyPlugin"/>
	</type>
	<type name="Magento\CatalogInventory\Api\StockRegistryInterface">
		<plugin name="Klevu_Search::addStockRegistryProductsInQueue" type="Klevu\Search\Plugin\Api\StockUpdatePlugin"/>
	</type>

	<type name="Klevu\Search\Console\Command\SyncCategoryCommand">
		<arguments>
			<argument name="klevuLoggerFQCN" xsi:type="string">Klevu\Search\Logger\Logger\Search</argument>
		</arguments>
	</type>
	<type name="Klevu\Search\Console\Command\SyncCommand">
		<arguments>
			<argument name="klevuLoggerFQCN" xsi:type="string">Klevu\Search\Logger\Logger\Search</argument>
		</arguments>
	</type>
	<type name="Klevu\Search\Console\Command\SyncStoreView">
		<arguments>
			<argument name="klevuLoggerFQCN" xsi:type="string">Klevu\Search\Logger\Logger\Search</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="syncCommand" xsi:type="object">Klevu\Search\Console\Command\SyncCommand\Proxy</item>
				<item name="createCommand" xsi:type="object">Klevu\Search\Console\Command\UserCreation</item>
				<item name="syncStoreViewData" xsi:type="object">Klevu\Search\Console\Command\SyncStoreView\Proxy</item>
				<item name="RatingGeneration" xsi:type="object">Klevu\Search\Console\Command\RatingGeneration</item>
				<item name="ImageGeneration" xsi:type="object">Klevu\Search\Console\Command\ImageGeneration</item>
				<item name="sync_category" xsi:type="object">Klevu\Search\Console\Command\SyncCategoryCommand\Proxy</item>
                <item name="sync_order" xsi:type="object">Klevu\Search\Console\Command\SyncOrderCommand\Proxy</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\Search\Request\Cleaner">
		<plugin name="Klevu_Search::CleanerForProductSearch"
				type="Klevu\Search\Plugin\Framework\Search\Request\CleanerPlugin"
				disabled="false"/>
	</type>

    <type name="Klevu\Search\Helper\Image">
        <arguments>
            <argument name="requireJs" xsi:type="object">Magento\Backend\Block\Page\RequireJs\Proxy</argument>
        </arguments>
    </type>

	<!-- LOGGER CONFIGURATION -->
	<!-- Search -->
	<virtualType name="Klevu\Search\Service\LogFileNameProvider\Search" type="Klevu\Logger\Service\LogFileNameProvider">
		<arguments>
			<argument name="baseFileName" xsi:type="const">Klevu\Search\Helper\Data::LOG_FILE</argument>
		</arguments>
	</virtualType>

	<virtualType name="Klevu\Search\Service\LoggingEnabledService\Search" type="Klevu\Logger\Service\LoggingEnabledService">
		<arguments>
			<argument name="isEnabledConfigPath" xsi:type="const">Klevu\Search\Helper\Config::XML_PATH_FORCE_LOG</argument>
			<argument name="minLogLevelConfigPath" xsi:type="const">Klevu\Search\Helper\Config::XML_PATH_LOG_LEVEL</argument>
		</arguments>
	</virtualType>

	<virtualType name="Klevu\Search\Logger\Handler\LogIfConfigured\Search" type="Klevu\Logger\Logger\Handler\LogIfConfigured">
		<arguments>
			<argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\Search</argument>
			<argument name="loggingEnabledService" xsi:type="object">Klevu\Search\Service\LoggingEnabledService\Search</argument>
		</arguments>
	</virtualType>

	<virtualType name="Klevu\Search\Logger\Logger\Search" type="Klevu\Logger\Logger\Logger">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="klevu_logger" xsi:type="object">Klevu\Search\Logger\Handler\LogIfConfigured\Search</item>
			</argument>
		</arguments>
	</virtualType>

    <type name="Klevu\FrontendJs\Observer\InvalidateCustomerDataObserver">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
        </arguments>
    </type>

	<!-- Preserve Layout -->
	<virtualType name="Klevu\Search\Service\LogFileNameProvider\PreserveLayout" type="Klevu\Logger\Service\LogFileNameProvider">
		<arguments>
			<argument name="baseFileName" xsi:type="const">Klevu\Search\Helper\Data::PRESERVE_LAYOUT_LOG_FILE</argument>
		</arguments>
	</virtualType>

	<virtualType name="Klevu\Search\Service\LoggingEnabledService\PreserveLayout" type="Klevu\Logger\Service\LoggingEnabledService">
		<arguments>
			<argument name="isEnabledConfigPath" xsi:type="const">Klevu\Search\Helper\Config::XML_PATH_PRESERVE_LAYOUT_LOG_ENABLED</argument>
			<argument name="minLogLevelConfigPath" xsi:type="const">Klevu\Search\Helper\Config::XML_PATH_PRESERVE_LAYOUT_MIN_LOG_LEVEL</argument>
		</arguments>
	</virtualType>

	<virtualType name="Klevu\Search\Logger\Handler\LogIfConfigured\PreserveLayout" type="Klevu\Logger\Logger\Handler\LogIfConfigured">
		<arguments>
			<argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\PreserveLayout</argument>
			<argument name="loggingEnabledService" xsi:type="object">Klevu\Search\Service\LoggingEnabledService\PreserveLayout</argument>
		</arguments>
	</virtualType>

	<virtualType name="Klevu\Search\Logger\Logger\PreserveLayout" type="Klevu\Logger\Logger\Logger">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="klevu_logger" xsi:type="object">Klevu\Search\Logger\Handler\LogIfConfigured\PreserveLayout</item>
			</argument>
		</arguments>
	</virtualType>

	<type name="Klevu\Search\Helper\Data">
		<arguments>
			<argument name="convertLogLevelService" xsi:type="object">Klevu\Logger\Service\ConvertLogLevel\ZendToMonolog</argument>
			<argument name="searchLogger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
			<argument name="preserveLayoutLogger" xsi:type="object">Klevu\Search\Logger\Logger\PreserveLayout</argument>
		</arguments>
	</type>

    <!-- Source Models -->
    <virtualType name="Klevu\Search\Model\System\Config\Source\Frequency\ProductSync" type="Klevu\Search\Model\System\Config\Source\Frequency">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="Hourly" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_HOURLY</item>
                <item name="Every 3 hours" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_EVERY_3_HOURS</item>
                <item name="Every 6 hours" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_EVERY_6_HOURS</item>
                <item name="Every 12 hours" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_EVERY_12_HOURS</item>
                <item name="Daily" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_DAILY</item>
                <item name="Never" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_NEVER</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Search\Model\System\Config\Source\Frequency\OrderSync" type="Klevu\Search\Model\System\Config\Source\Frequency">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="Hourly" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_HOURLY</item>
                <item name="Every 3 hours (from 2am)" xsi:type="string">0 2,5,8,11,14,17,20,23 * * *</item>
                <item name="Every 6 hours (from 2am)" xsi:type="string">0 2,8,14,20 * * */</item>
                <item name="Every 12 hours (from 2am)" xsi:type="string">0 2,14 * * *</item>
                <item name="Daily (at 2am)" xsi:type="string">0 2 * * *</item>
                <item name="Custom" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_CUSTOM</item>
                <item name="Never" xsi:type="const">Klevu\Search\Model\System\Config\Source\Frequency::CRON_NEVER</item>
            </argument>
        </arguments>
    </virtualType>

	<type name="Klevu\Search\Helper\Image">
		<arguments>
			<argument name="requireJs" xsi:type="object">Magento\Backend\Block\Page\RequireJs\Proxy</argument>
		</arguments>
	</type>

    <!-- Common Provider for queue up products -->
    <type name="Klevu\Search\Model\Product\Provider\CommonProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="grouped" xsi:type="object">Klevu\Search\Model\Product\Provider\GroupedProvider</item>
                <item name="bundle" xsi:type="object">Klevu\Search\Model\Product\Provider\BundleProvider</item>
                <item name="simple" xsi:type="object">Klevu\Search\Model\Product\Provider\SimpleProvider</item>
            </argument>
        </arguments>
    </type>
    <!-- Simple Provider for queue up products -->
    <type name="Klevu\Search\Model\Product\Provider\SimpleProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="grouped" xsi:type="object">Klevu\Search\Model\Product\Provider\GroupedProvider</item>
                <item name="bundle" xsi:type="object">Klevu\Search\Model\Product\Provider\BundleProvider</item>
                <!-- add a custom parent type if custom parent type have a simple as a child -->
            </argument>
        </arguments>
    </type>

    <!-- Theme V2 -->
    <type name="Klevu\Search\Service\ThemeV2\InteractiveOptionsProvider">
        <arguments>
            <argument name="isEnabledCondition" xsi:type="object">Klevu\Search\Service\ThemeV2\IsEnabledCondition</argument>
        </arguments>
    </type>

    <type name="Klevu\FrontendJs\Service\InteractiveOptionsGenerator">
        <arguments>
            <argument name="interactiveOptionsProviders" xsi:type="array">
                <item name="_klevu_themev2" xsi:type="object">Klevu\Search\Service\ThemeV2\InteractiveOptionsProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\FrontendJs\Service\IsEnabledDeterminer">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="_klevu_themev2" xsi:type="object">Klevu\Search\Service\ThemeV2\IsEnabledCondition</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Metadata\Service\IsEnabledDeterminer">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="_klevu_themev2" xsi:type="object">Klevu\Search\Service\ThemeV2\IsEnabledCondition</item>
            </argument>
        </arguments>
    </type>

	<type name="Klevu\Search\Service\ThemeV2\InteractiveOptionsProvider\AddPriceSuffixToQueryOptionsProvider">
        <arguments>
            <argument name="isEnabledCondition" xsi:type="object">Klevu\Search\Service\ThemeV2\IsEnabledCondition\AddPriceSuffixToQueryEnabledCondition</argument>
        </arguments>
    </type>

    <type name="Klevu\FrontendJs\Service\InteractiveOptionsGenerator">
        <arguments>
            <argument name="interactiveOptionsProviders" xsi:type="array">
                <item name="_klevu_search_add_price_suffix_to_query" xsi:type="object">Klevu\Search\Service\ThemeV2\InteractiveOptionsProvider\AddPriceSuffixToQueryOptionsProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\ThemeV2\IsEnabledCondition\AddPriceSuffixToQueryEnabledCondition">
        <arguments>
            <argument name="baseIsEnabledCondition" xsi:type="object">Klevu\Search\Service\ThemeV2\IsEnabledCondition</argument>
        </arguments>
    </type>
</config>
