<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Config\Block\System\Config\Form\Field">
        <plugin name="Klevu_Search::AdminFormFieldRenderPlugin"
                type="Klevu\Search\Plugin\Admin\System\Config\Form\Field\RenderPlugin"
                sortOrder="10"/>
        <plugin name="Klevu_Search::AdminFormFieldHideLabels"
                type="Klevu\Search\Plugin\Admin\System\Config\Form\Field\HideLabelForSingleStoreModePlugin"
                sortOrder="20"/>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="Klevu_Search::UpdateApiEndpointsOnApiKeyChange"
                type="Klevu\Search\Plugin\Model\Config\UpdateApiEndpointsOnApiKeyChange"
                sortOrder="1"/>
    </type>

    <type name="Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Save">
        <plugin name="KlevuSearch::BulkProductSavePlugin"
                type="Klevu\Search\Plugin\Admin\BulkProductAttributeSavePlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\UrlRewrite\Controller\Adminhtml\Url\Rewrite\Save">
        <plugin name="KlevuSearch::URLRewriteSavePlugin"
                type="Klevu\Search\Plugin\Admin\UrlRewriteSavePlugin"
                sortOrder="1"/>
    </type>

    <type name="Klevu\Search\Plugin\Admin\System\Config\Form\Field\HideLabelForSingleStoreModePlugin">
        <arguments>
            <argument name="labelsToHide" xsi:type="array">
                <item name="klevu_search_attributes_info_attribute" xsi:type="string"><![CDATA[klevu_search_attributes_info_attribute]]></item>
                <item name="klevu_search_secureurl_setting_info_enabled" xsi:type="string"><![CDATA[klevu_search_secureurl_setting_info_enabled]]></item>
                <item name="klevu_search_image_setting_info_enabled" xsi:type="string"><![CDATA[klevu_search_image_setting_info_enabled]]></item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\UpdateConfigValueIfFeatureUnavailable">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
            <argument name="fieldUpdateConfig" xsi:type="array">
                <item name="klevu_search_attributes_boosting" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_search_attributes_boosting</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_BOOSTING</item>
                    <item name="value" xsi:type="string"></item>
                </item>
                <item name="klevu_search_searchlanding_landenabled" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_search_searchlanding_landenabled</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                    <item name="value" xsi:type="const">Klevu\Search\Model\System\Config\Source\Landingoptions::NO</item>
                    <item name="allowed_values" xsi:type="array">
                        <item name="klevu_theme" xsi:type="const">Klevu\Search\Model\System\Config\Source\Landingoptions::KlEVULAND</item>
                    </item>
                </item>
                <item name="klevu_integration_next_steps_landenabled" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_integration_next_steps_landenabled</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                    <item name="value" xsi:type="const">Klevu\Search\Model\System\Config\Source\Landingoptions::NO</item>
                    <item name="allowed_values" xsi:type="array">
                        <item name="klevu_theme" xsi:type="const">Klevu\Search\Model\System\Config\Source\Landingoptions::KlEVULAND</item>
                    </item>
                </item>
                <item name="klevu_search_developer_preserve_layout_log_enabled" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_search_developer_preserve_layout_log_enabled</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                    <item name="value" xsi:type="string">0</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\DisableFieldIfFeatureUnavailable">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
            <argument name="fieldToFeatureMap" xsi:type="array">
                <item name="klevu_search_attributes_boosting" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_BOOSTING</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\RemovePreserveLayoutFromComment">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
            <argument name="fieldIds" xsi:type="array">
                <item name="klevu_search_searchlanding_landenabled" xsi:type="string">klevu_search_searchlanding_landenabled</item>
                <item name="klevu_integration_next_steps_landenabled" xsi:type="string">klevu_integration_next_steps_landenabled</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\RemoveFieldIfFeatureUnavailable">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
            <argument name="fieldToFeatureMap" xsi:type="array">
                <item name="klevu_search_searchlanding_klevu_search_relevance" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                <item name="klevu_search_searchlanding_relevance_label" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                <item name="klevu_search_developer_preserve_layout_log_enabled" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                <item name="klevu_search_developer_preserve_layout_download_log_button" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                <item name="klevu_search_developer_preserve_layout_clear_log_button" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Plugin\Admin\System\Config\Form\Field\RenderPlugin">
        <arguments>
            <argument name="renderActions" xsi:type="array">
                <item name="_klevu_10_updateConfig" xsi:type="object">Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\UpdateConfigValueIfFeatureUnavailable</item>
                <item name="_klevu_20_disableField" xsi:type="object">Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\DisableFieldIfFeatureUnavailable</item>
                <item name="_klevu_30_removePLComment" xsi:type="object">Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\RemovePreserveLayoutFromComment</item>
                <item name="_klevu_40_removeField" xsi:type="object">Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\RemoveFieldIfFeatureUnavailable</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="klevu_lock_file" xsi:type="string">Klevu\Search\Model\Message\LockFileMessage</item>
                <item name="klevu_object_vs_collection" xsi:type="string">Klevu\Search\Model\Message\ObjectVsCollectionMessage</item>
                <item name="klevu_same_ip_orders" xsi:type="string">Klevu\Search\Model\Message\OrdersWithSameIPMessage</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Block\Adminhtml\Form\Field\ProductListSortOrder\SortOrderCodeColumn">
        <arguments>
            <argument name="productListSortOrdersSource" xsi:type="object">Klevu\Search\Model\Source\ProductListSortOrders</argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Block\Adminhtml\Form\Field\ProductListSortOrder">
        <arguments>
            <argument name="serializer" xsi:type="object">Klevu\Search\Serializer\Json</argument>
        </arguments>
    </type>

    <!-- Stores Config Log Action Buttons -->
    <type name="Klevu\Search\Block\Adminhtml\Form\Field\Logdownload">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\Search</argument>
            <argument name="destinationUrl" xsi:type="string"><![CDATA[klevu_search/download/logdownload]]></argument>
            <argument name="buttonLabel" xsi:type="string"><![CDATA[Download Klevu Search Log]]></argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Block\Adminhtml\Form\Field\Logclear">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\Search</argument>
            <argument name="destinationUrl" xsi:type="string"><![CDATA[klevu_search/download/logclear]]></argument>
            <argument name="buttonLabel" xsi:type="string"><![CDATA[Rename Klevu Search Log]]></argument>
        </arguments>
    </type>

    <virtualType name="Klevu\Search\Block\Adminhtml\Form\Field\Logdownload\PreserveLayout" type="Klevu\Logger\Block\Adminhtml\Form\Button\LogDownloadButton">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\PreserveLayout</argument>
            <argument name="destinationUrl" xsi:type="string"><![CDATA[klevu_search/download_preserveLayout/logdownload]]></argument>
            <argument name="buttonLabel" xsi:type="string"><![CDATA[Download Preserve Layout Log]]></argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\Search\Block\Adminhtml\Form\Field\Logclear\PreserveLayout" type="Klevu\Logger\Block\Adminhtml\Form\Button\LogClearButton">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\PreserveLayout</argument>
            <argument name="destinationUrl" xsi:type="string"><![CDATA[klevu_search/download_preserveLayout/logclear]]></argument>
            <argument name="buttonLabel" xsi:type="string"><![CDATA[Rename Preserve Layout Log]]></argument>
        </arguments>
    </virtualType>

    <!-- Controllers -->
    <type name="Klevu\Search\Controller\Adminhtml\Download\Logclear">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\Search</argument>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Controller\Adminhtml\Download\Logdownload">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\Search</argument>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Controller\Adminhtml\Download\PreserveLayout\Logclear">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\PreserveLayout</argument>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\PreserveLayout</argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Controller\Adminhtml\Download\PreserveLayout\Logdownload">
        <arguments>
            <argument name="logFileNameProvider" xsi:type="object">Klevu\Search\Service\LogFileNameProvider\PreserveLayout</argument>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\PreserveLayout</argument>
            <argument name="archiveService" xsi:type="object">Magento\Framework\Archive\Zip</argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Model\Order\OrdersWithSameIPCollection">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Model\System\Config\Source\Product\Attributes">
        <arguments>
            <argument name="reservedAttributeCodesProvider" xsi:type="object">Klevu\Search\Provider\Sync\Catalog\Product\ReservedAttributeCodesProvider</argument>
        </arguments>
    </type>

    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="ratingAttribute" xsi:type="array">
                    <item name="class" xsi:type="string">Klevu\Search\Ui\DataProvider\Product\Form\Modifier\Attributes\Rating</item>
                    <item name="sortOrder" xsi:type="number">1000</item>
                </item>
                <item name="reviewCountAttribute" xsi:type="array">
                    <item name="class" xsi:type="string">Klevu\Search\Ui\DataProvider\Product\Form\Modifier\Attributes\ReviewCount</item>
                    <item name="sortOrder" xsi:type="number">1001</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Search\Observer\Catalog\Product\EditAction">
        <arguments>
            <argument name="attributesToLock" xsi:type="array">
                <item name="rating" xsi:type="const">Klevu\Search\Model\Attribute\Rating::ATTRIBUTE_CODE</item>
                <item name="review_count" xsi:type="const">Klevu\Search\Model\Attribute\ReviewCount::ATTRIBUTE_CODE</item>
            </argument>
        </arguments>
    </type>
</config>
