<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Save">
        <plugin name="KlevuSearch::BulkProductSavePlugin"
                type="Klevu\Search\Plugin\Admin\BulkProductAttributeSavePlugin"
                sortOrder="1"
        ></plugin>
    </type>

    <type name="Magento\UrlRewrite\Controller\Adminhtml\Url\Rewrite\Save">
        <plugin name="KlevuSearch::URLRewriteSavePlugin"
                type="Klevu\Search\Plugin\Admin\UrlRewriteSavePlugin"
                sortOrder="1"></plugin>
    </type>

    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="klevu_lock_file" xsi:type="string">Klevu\Search\Model\Message\LockFileMessage</item>
                <item name="klevu_object_vs_collection" xsi:type="string">Klevu\Search\Model\Message\ObjectVsCollectionMessage</item>
            </argument>
        </arguments>
    </type>

</config>

