<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="klevuSearchConfigShowSingleStoreView"
                  instance="Klevu\Search\Observer\Backend\SingleStoreViewConfigToShow"/>
    </event>
    <event name="admin_system_config_save">
        <observer name="klevuSearchConfigSerCloudSearchV2UrlValue"
                  instance="Klevu\Search\Observer\Backend\SetCloudSearchV2UrlConfigValueObserver"/>
    </event>
    <event name="admin_system_config_changed_section_klevu_search">
        <observer name="KlevuSearch_RestApiKeyChanged"
                  instance="Klevu\Search\Observer\Backend\RestApiKeyChanged" />
    </event>
</config>
